{% extends 'page.html.twig' %}
{% block meta %}
    <meta name="keywords" content="cabs in tirupati, tirupati cabs, Cab Service in Tirupati, Cab Services in Tirupati, Taxi in Tirupati, Taxi service in Tirupati, Tirupati Taxi, tirupati car rental">
    <meta name="description" content="Grab the hot deals at Justtrip.in.Use This Coupon Code FIRSTRIDE and Get 50 OFF on First Ride.">  
{% endblock %}
{% block title %}Justtrip Deals, Discounts Coupan Code {% endblock %}
{% block body %}
<section>
	<div class="container">
		<div class="row">
			 
                    <div class="tab-content" style="margin-top:80px;">
                            
<hr>
                            <div role="tabpanel" class="tab-pane" id="tab_03">
                                <h3>WHEN WOULD YOU LIKE TO GO?</h3>
                                <form class="bookform form-inline row">
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" placeholder=" Destination: Country, City,Airport...">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" placeholder=" Hotel: TUNAI, HAWAI...">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" placeholder=" Time: May, Jun, Jully...">
                                    </div>

                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="icon-search"></i> BOOK NOW</button>
                                    </div>
                                </form>
                            </div><!-- end tab-pane -->

                           

                            <div role="tabpanel" class="tab-pane active" id="tab_04">
                                <h3 class="text-center">Get <i class="fa fa-inr"></i> 50 OFF on First Ride</h3>
                                <div class="row">
                                 <div class="col-md-4 col-xs-4 text-center">
                                 </div>
                                    <div class="col-md-4 col-xs-4 text-center">
                                        <h3>Use This Coupon Code</h3>
                                        <h4 class="hot-deals"><span>FIRSTRIDE</span></h4>
                                            
                                    </div>
                                   <div class="col-md-4 col-xs-4 text-center">
                                   </div>
                                </div>
                            </div><!-- end tab-pane -->

                            
                        </div><!-- end tab-content -->
		</div>
	</div>

</section>
{% endblock %}
{% block navTabs %}
                      
{% endblock %}