{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}
 
 {% block banner %}
    <section id="page-header" class="section background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                	{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style=""></span><a href="{{ path('trip_site_management_homepage')}}">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span></span></div>
                    </div>
                    <h3> </h3>
                    {% endblock %}
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
   
{% endblock %}