<div class="row">
			                <div class="col-sm-4">
			                	<label>Name</label>
			                	<p>{{ customer.name }}</p>
			                </div>
			                <div class="col-sm-4">
			                	<label>Email</label>
			                	<p>{{ customer.email }}</p>
			                </div>
			                <div class="col-sm-4">
			                	<label>Mobile</label>
			                	<p>{{ customer.mobile }}</p>
			                </div>
		                </div>