{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$( window ).load(function(){
	var locv=$('#txt_name1').val();;
	$('#trip_booking_engine_edit_searchpagesloc_picklocation').val(locv);

});
$( window ).load(function(){
	var locv=$('#txt_name2').val();;
	$('#trip_booking_engine_edit_searchpagesloc_droplocation').val(locv);

});
</script>
{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
       
            <input type="hidden" value="" id="txt_name1">
            <input type="hidden" value="" id="txt_name2">
                <div id="fullwidth" class="col-sm-12">
               <div class="col-lg-7">
                   {{ form_start(form) }} 
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
            
               <div class="row">
                
            </div>
            </div>
          </div> 
    </section>
{% endblock %}