<div class="tab" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                	
                                	 <li role="presentation" class="active"><a href="#Section1" aria-controls="profile" role="tab" data-toggle="tab">Bikes On Rent In Bangalore</a></li>
									<li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Bikes On Rent In Tirupati</a></li>                                	
                                  
                                </ul>
                                <!-- Tab panes -->
                                
                                <div class="tab-content tabs">
                                	<div role="tabpanel" class="tab-pane fade in active" id="Section1" style="font-size: 12px;">
                                       {% for bikeblr in bikesblr %} 
                                       {% if bikeblr.cityid==48 %}
                                        <a href="{{ path('trip_site_management_view_bikesblr',{ 'url':bikeblr.url }) }}"">
                                       <span class="packages-link">{{ bikeblr.title }}</span>
                                       </a>|
                                       {% endif %}
                                       {% endfor %}
                                     
                                   </div>
                                   <div role="tabpanel" class="tab-pane fade in" id="Section2" style="font-size: 12px;">
                                       {% for bikeblr in bikesblr %} 
                                       {% if bikeblr.cityid==1 %}
                                        <a href="{{ path('trip_site_management_view_bikestpt',{ 'url':bikeblr.url }) }}"">
                                       <span class="packages-link">{{ bikeblr.title }}</span>
                                       </a>|
                                       {% endif %}
                                       {% endfor %}
                                   </div>
                                   
                              </div>
</div>