<div class="tab" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                	
                                	 <li role="presentation" class="active"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Bikes On Rent</a></li>
                                	
                                  
                                </ul>
                                <!-- Tab panes -->
                                
                                <div class="tab-content tabs">
                                	<div role="tabpanel" class="tab-pane fade in active" id="Section1" style="font-size: 12px;">
                                       {% for bike in bikes %} 
                                        <a href="{{ path('trip_site_management_bikes_on_rent') }}">
                                       <span class="packages-link">{{ bike.title }} In Tirupati</span>
                                       </a>|
                                       {% endfor %}
                                     
                                   </div>
                                   
                              </div>
</div>