{% extends 'page.html.twig' %}
{% block stylesheets %}
	
{% endblock %}
{% block javascripts %}


{% endblock %}


{% block breadcrumb %}
                    <ul class="c1 breadcrumb text-left">
                        <li><a href="#">Home</a></li>
                        <li>Vendor</li>
                    </ul>
                    <h3></h3>
{% endblock %}

{% block body %}

    <section class="section clearfix">
    
    	
        <div class="container">
         <div class="row">
         	<h1 class="custom-package-title">Vendor Login Form</h1>
    		{#}<h3 class="custom-quote"><i class="fa fa-quote-left" aria-hidden="true"></i> Design your own itinerary below and send it to us. We will revert<br> back to
you with the best price<i class="fa fa-quote-right" aria-hidden="true"></i></h3>{#}
		</div>
		 <div class="row" style="border:1px solid #000; padding: 10px; margin: 5px">
                <div id="fullwidth" class="col-sm-12">
              		
              		{{vendor.name}}
              		{{vendor.email}}
              		{{vendor.mobileNo}}
              		{{vendor.vendorPwd}}
              		
           		 </div>
        </div>
    </section>
{% endblock %}