{% extends 'base.html.twig' %}
{% block title %}About Us | Just Trip{% endblock %}

{% block javascript %}

{% endblock %}

  {% block body %}


    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">

                    <!-- START CONTENT -->
                    <div class="row">
                        <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                            <div class="post-wrapper clearfix border-bottom">
                              
                                <div class="post-title clearfix">
                                    <h5>About Us</h5>
                                </div><!-- end ost-title -->

                                <div class="post-content clearfix">
                                  <p> Justtrip.in is an aggregator of taxis and hotel accommodation service
provider across pilgrim centers over India. We work with various taxi
operators and hotels/guest houses and enable them with technology to
ensure customers get an easily accessible, safe & reliable taxi service
                                      and accommodation.</p>
<p>JustTrip.in is a one-stop-shop for taxi & Accommodation related services.
Whether you’re heading to Tirumala/ Vellore golden temple/Chennai Airport
etc, coming from any part of the world. We will happily serve you! We
offer Point-to-Point taxi service. And since convenience is the name of
the game, we allow all of our customers to book a cab by using our
    website, or calling our infamous telephone number +91-9663133008.</p>
                                </div><!-- end post-content -->
                            
                            </div><!-- end post-wrapper -->
                        </div><!-- end col -->

                        <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT -->

                </div><!-- end fullwidth -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
  {% endblock %}