{% extends 'page.html.twig' %}
{% block title %}About Us | Just Trip{% endblock %}

{% block javascript %}

{% endblock %}

{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="#">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>About Us</span></div>
                    </div>
                    <h3>About Us</h3>
{% endblock %}


  {% block body %}


    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">

                    <!-- START CONTENT -->
                    <div class="row">
                        <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                            <div class="post-wrapper clearfix border-bottom">
                              
                                <div class="post-title clearfix">
                                    <h5>About Us</h5>
                                </div><!-- end ost-title -->

                                <div class="post-content clearfix">
                                <div class="data-align">
                                  <p>
                                  </p>
                                  </div>
                                </div><!-- end post-content -->
                            
                            </div><!-- end post-wrapper -->
                        </div><!-- end col -->

                        <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT -->

                </div><!-- end fullwidth -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
  {% endblock %}