{% extends 'base.html.twig' %}
{% block title %}About Us | Just Trip{% endblock %}

{% block javascript %}

{% endblock %}


  {% block body %}


    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">

                    <!-- START CONTENT -->
                    <div class="row">
                        <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                            <div class="post-wrapper clearfix border-bottom">
                              
                                <div class="post-title clearfix">
                                    <h5>About Us</h5>
                                </div><!-- end ost-title -->

                                <div class="post-content clearfix">
                                <div class="data-align">
                                  <p>Justtrip is an online platform to assist you to take up a spiritual journey to people who want a hassle free experience
									 during their stay and travel to the most sought for place in Tirupati and Tirumala. Justtrip, a car rental and
								     accomadation services  based out of south India makes it a blissful experience by taking care of all our client requirements.
									 The comfortable cabs, luxurious service apartments,24/7 guidance by our cabbies, who are well accquainted with the
									 regional languges and places make the journey to feed your soul a pleasurable one to make it pocket friendly we offer private, non sharing and self catered
 									 residences for flexible rentals across daily, weekly or short term stay discounts.
                                     a home away from home gives our clients a break from crowded hotels and cramped guest houses.
									 We also help our clients find a right place to stay with our well networked chain of hotels and lodges depending on their
                                     preferences. To know more about hotel stay please refer the list below with the details.
                                  </p>
                                  </div>
                                </div><!-- end post-content -->
                            
                            </div><!-- end post-wrapper -->
                        </div><!-- end col -->

                        <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT -->

                </div><!-- end fullwidth -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
  {% endblock %}