{% extends 'page.html.twig' %}
{% block title %}FAQ | Just Trip{% endblock %}

{% block javascript %}

{% endblock %}

{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="#">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>FAQ</span></div>
                    </div>
                    <h3>FAQ</h3>
{% endblock %}
  {% block body %}
    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                    <!-- START CONTENT -->
                    <div class="row">
                        <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                            <div class="post-wrapper clearfix border-bottom">
                              
                                <div class="post-title clearfix">
                                    <h3>FAQ'S</h3>
                                </div><!-- end post-title -->
                                <div class="post-content clearfix">
                                  <div class="row">
                                    <div class="col-sm-3">
                                      
                                        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
                                          <li class="active"><a href="#vtab1" data-toggle="tab">Booking</a></li>
                                          <li><a href="#vtab2" data-toggle="tab">Payment</a></li>
                                          <li><a href="#vtab3" data-toggle="tab">Cancellation and refunds</a></li>
                                          <li><a href="#vtab4" data-toggle="tab">Limits</a></li>
                                          <li><a href="#vtab5" data-toggle="tab">Damage</a></li>
                                          <li><a href="#vtab6" data-toggle="tab">MISC</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                                            	<h4 class="faqtitles text-center">Booking</h4>
                                                <strong class="faqs-strong">How do I book a Book with Just Trip?</strong>
                                   				<p class="faqs-p">It's Very Simple. You can book either online /directly at 
                                   				hub Via APP (Available both on Android and iOS). Click Here and 
                                   				Select the date and time you are interested in. Select the bike/scooty 
                                   				you like from the list available and select the pickup location of your 
                                   				choice and proceed to payment.</p>
                                   				<strong class="faqs-strong">What are the documents that I need to submit to rent a bike?</strong>
                                   				<p class="faqs-p">The following documents need to be submitted before you rent the bike.</p>
                                   					<ul style="list-style-type: none;">
                                   						<li class="faqs-list">(1)	A copy of your passport (or) Aadhar card.</li>
                                   						<li class="faqs-list">(2)	Valid driver license.</li>
                                   					</ul>
                                   				<strong class="faqs-strong">For International Visitors</strong>
                                   					<ul style="list-style-type: none;">
                                   						<li class="faqs-list">(1)	Valid Driving License from their home country with international driving permit, and a valid Visa. (Original to be brought, copy will be retained for the record).</li>
                                   					</ul>
                                   				<strong class="faqs-strong">For Students :</strong>
                                   					<ul style="list-style-type: none;">
                                   						<li class="faqs-list">(1)	Original College ID,</li>
                                   						<li class="faqs-list">(2)	Driving License and Aadhra card.</li>
                                   					</ul>
                                   				<p class="faqs-p"><strong class="faqs-strong">Note:</strong> Just Trip reserves the right to hold back 
                                   				the booking if the documents submitted are not satisfactory.</p>
                                   				<strong class="faqs-strong">Will I be getting a complimentary helmet?</strong>
                                   				<p class="faqs-p">Yes. Just Trip provides one helmet with each booking. Second helmet will be provided, if needed subject to the availability.</p>
                                   				<strong class="faqs-strong">How do I book a Book with Just Trip.</strong>
                                   				<p class="faqs-p">It's Very Simple. You can book either online /directly at hub 
                                   				Or Via APP (Available both on Android and iOS). Click Here and Select the date 
                                   				and time you are interested in. Select the bike/scooty you like from the list 
                                   				available and select the pickup location of your choice and proceed to payment.</p>
                                   				<strong class="faqs-strong">Can I extend the booking?</strong>
                                   				<p class="faqs-p">Yes.</p>
                                   				<p class="faqs-p">Extension of the booking can be made and is subject to availability. 
                                   				Extension rates are similar to the booking rates and you can find them below.</p>
                                   				<ul style="list-style-type: none;">
                                   					<li class="faqs-list">1.	Extension prior to pick-up. Charges for period extended.</li>
                                   					<li class="faqs-list">2.	Extension Post pickup-up. Charges for period extended.</li>
                                   				</ul>
                                   				<strong class="faqs-strong">Can I reschedule the booking?</strong>
                                   				<p class="faqs-p">Yes.</p>
                                   				<p class="faqs-p">Rescheduling of the booking can be made depending upon the next booking of that particular bike.</p>
                                   				<p class="faqs-p">Rescheduling charges are same as the booking rates plus Rs:100 rescheduling charges.</p>
                                   				<p class="faqs-p">Rescheduling is not possible on the ride date.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="vtab2">
                                            	<h4 class="faqtitles text-center">Payment</h4>
                                                <strong class="faqs-strong">How do I pay?</strong>
                                   				<p class="faqs-p">You can pay online using debit/credit card or cash at the Just Trip Hub during your bike pickup.</p>
                                   				<strong class="faqs-strong">Is the fuel included in the tariff?</strong>
                                   				<p class="faqs-p">No. Fuel is not included in the rental.  We provide minimal 
                                   				amount of fuel to get the bike to the nearest fuel station. In case there is 
                                   				excess fuel in the bike at the time of return. Just trip is not liable for any 
                                   				refunds for the same.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="vtab3">
                                                <h4 class="faqtitles text-center">Cancellation and refunds</h4>
                                   				<strong class="faqs-strong">Can I Cancel the booking?</strong>
                                   				<p class="faqs-p">Yes. <strong>If you cancel the booking the refund would be made as per the following schedule-</strong></p>
                                   				<ul style="list-style-type: none;">
                                   					<li class="faqs-list" style="color: #F34F4F;">1.Less than 24 hours-No refund</li>
                                   					<li class="faqs-list" style="color: #F34F4F;">2.More than 24 hours-90% refund.</li>
                                   					<li class="faqs-list" style="color: #F34F4F;">3.If we cancel the booking due to break down, non-availability of the bike or any other reason than we provide 100% refund of the rentals received.</li>
                                   				</ul>
                                   				<strong class="faqs-strong">I cancelled my booking. In how many days will I get my refund back?</strong>
                                   				<p class="faqs-p">If you have paid via debit/credit card, you should receive the refund 
                                   				within 3 to 11 working days. However, in the case you don't receive the refund within 
                                   				the mentioned period, write to us @ <a href="mailto:refund@justtrip.in">refund@justtrip.in</a> so we can verify and process 
                                   				the refund at the earliest.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="vtab4">
                                                <h4 class="faqtitles text-center">Limits</h4>
                                   				<strong class="faqs-strong">Is there any limit on the age?</strong>
                                   				<p class="faqs-p">Yes, the ride has to be at least 18 years.</p>
                                   				<strong class="faqs-strong">Is there any limit on the No'of Kilometers/day?</strong>
                                   				<p class="faqs-p">Yes. Less than 12 Hrs Booking 150 Kms. Between 12 To 24 Hrs 300Kms.</p>
                                   					<ul style="list-style-type: none;">
                                       					<li class="faqs-list">1.For KTM and Dominar: Rs.4/km </li>
                                       					<li class="faqs-list">2.For Royal Enfield's and Honda CBR: Rs.3/km </li>
                                       					<li class="faqs-list">3.For Bajaj Avenger: Rs.2.5/km </li>
                                       					<li class="faqs-list">4.For all other vehicles: Rs.2/km</li>
                                   					</ul>
                                   				<strong class="faqs-strong">Is there any Speed Limit?</strong>
                                   				<p class="faqs-p">Yes. The speed limit for all Non gear bike is 70kms. Gear Bikes is 85kms.  
                                   				Rs:200 will be charged for every violation of the speed limit. </p>
                                               
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="vtab5">
                                                <h4 class="faqtitles text-center">Damage</h4>
                                   				<strong class="faqs-strong">What If the Bike gets Broke Down? What should I do?</strong>
                                   				<p class="faqs-p">Call us @ +91-9663133008 and we'll help you out. Customer care services 
                                   				are open 7am to 12pm, 365 days a week.</p>
                                   				<strong class="faqs-strong">What If I return the bike late because the bike broke down? Will I be fined?</strong>
                                   				<p class="faqs-p">If case of broke down you should call us and report @ +91-9663133008. If the reason 
                                   				is deemed genuine and we verify if from our GPS feedback. You will not be charged any 
                                   				penalties.</p>
                                   				<strong class="faqs-strong">What happens if the bike has been damaged?</strong>
                                   				<p class="faqs-p">Oopz.. The repair estimate will be provided by our service manager. 
                                   				If the estimate is below Rs:10000 the customer has to bear the entire amount while returning 
                                   				the vehicle. However, in case the estimated amount surpasses Rs:10000 limit insurance will 
                                   				be claimed against the vehicle. The customer is liable to pay the estimated amount upfront. 
                                   				Once the insurance amount is received by the company, Just trip will add daily rental to its 
                                   				downtime and refund back the differential amount. Please read our insurance policy for more 
                                   				information.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="vtab6">
                                                <h4 class="faqtitles text-center">MISC</h4>
                                   				<strong class="faqs-strong">Do you provide a GPS holder?</strong>
                                   				<p class="faqs-p">Yes. However, if it's not fixed. It's not mandated from our end.</p>
                                   				<strong class="faqs-strong">Yes. However, if it's not fixed. It's not mandated from our end.</strong>
                                   				<p class="faqs-p">Hub Stations are operational from 7am to 9pm all 365 days. Pickup and Return should 
                                   				be completed latest by 9:30pm. In case the rider fails to pickup//Return the bike by 9:30pm, 
                                   				will take place on the next day and applicable charges will be levied on the rider.</p>
                                   				<strong class="faqs-strong">What are the late return charges?</strong>
                                   				<ul style="list-style-type: none;">
                                   					<li class="faqs-list">1.Non geared vehicles: First 2 hours of delay would be charged at Rs.100 + hourly rates</li>
                                   					<li class="faqs-list">2.Royal Enfield's: First 2 hours of delay would be charged at Rs.250 + hourly rates</li>
                                   					<li class="faqs-list">3.All Other Bikes: First 2 hours of delay would be charged at Rs.200 + hourly rates</li>
                                   					<li class="faqs-list">4.Post 2 Hours, subsequent hourly charges will be applicable on weekdays with model wise penalty (Mon-Fri)</li>
                                   					<li class="faqs-list">5.On weekends (Sat-Sun): 24 Hrs rental charges will be applicable as per company policy.</li>
                                   				</ul>
                                   				<strong class="faqs-strong">Your delivery manager is not present at the hub station. How long do I wait?</strong>
                                   				<p class="faqs-p">Call us +91-9663133008. We will slot it out on the go!  Provided with your booking id.</p>
                                   				<strong class="faqs-strong">If the bike gets damaged due to floods, do I still have to pay for it?</strong>
                                   				<p class="faqs-p">At times of heavy rain and floods, customer is advised to park the bike at a safe location. All damages incurred, irrespective of the cause, have to be covered by the customer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div><!-- end post-content -->
                            </div><!-- end post-wrapper -->
                        </div><!-- end col -->

                        <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT -->

                </div><!-- end fullwidth -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
  {% endblock %}