{% extends 'page.html.twig' %}
{% block title %}FAQ | Just Trip{% endblock %}

{% block javascript %}

{% endblock %}

{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="#">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>FAQ</span></div>
                    </div>
                    <h3>FAQ</h3>
{% endblock %}
  {% block body %}


    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">

                    <!-- START CONTENT -->
                    <div class="row">
                        <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                            <div class="post-wrapper clearfix border-bottom">
                              
                                <div class="post-title clearfix">
                                    <h3>FAQ</h3>
                                </div><!-- end ost-title -->

                                <div class="post-content clearfix">
                                    <h4> Registration</h4>

                                    <strong>How do I register with Justtrip?</strong>

<p>If you want to register now, please click here. If you want to continue booking as a guest 

    user, we will send you your temporary registration/login details by email.</p>

                                    <strong>Why should I register with JustTrip?</strong>

<p>>While you can book on JustTrip.in as a guest user, we recommend you register with us 

to make the process faster and more convenient. You won’t have to spend time typing 

your details every time you make a booking. You will also get priority access to our 

    travel deals by email, before anyone else.</p>

                                    <strong>How I change my password?</strong>

<p>Go to My Bookings and sign in to your account. In ‘My Profile’, click ‘Change Password’ 

    and reset your password.</p>

                                    <strong>How do I sign in to my account if I forget my password?</strong>

<p>If you’ve forgotten your password, go to My Bookings on JustTrip.in. Click ‘Forgot 

    Password’, provide your email address and we’ll send you an email with instructions.</p>

                                    <strong> How do I edit my account information?</strong>

<p>Sign in to your account from the My Bookings section. Go to ‘My Profile’ and change or 

    add more details.</p>

                                    <strong>Can I book on JustTrip.in if I am a non-resident Indian?</strong>

                                    <p>As of now, JustTrip.in caters to Indian residents only.</p>

                                    <strong>Can I speak to someone in Customer Support?</strong>

<p>JustTrip offers 24x7 customer support. You can call us at +91-9663133008(all networks). 

You can also write to our customer support team and someone will get back to you 

    within 24 hours of your inquiry.</p>

                                    <h4>Payment Options</h4>

                                    <strong> What payment options does JustTrip have?</strong>

                                    <p>Currently we accept payments using credit cards, direct bank debits and ITZ Cash card.</p>

                                    <strong>How do I know that my credit card information is safe on your site?</strong>

<p>JustTrip is Secure Site. Any information you enter when transacting over JustTrip is sent 

in a Secure Socket Layer (SSL) session and is encrypted to protect you against 

unintentional information disclosure to third parties. You will notice that when you 

move from the passenger information page to the payment page, the url changes from 

    http:// to https://. This shows that you are now on a secure channel.</p>

                                    <strong>What Is the Card Verification Number (CVV) on my credit card?</strong>

<p>The Security Code is an important new security feature established by credit card 

companies in an attempt to further reduce the risk of Internet fraud. This number never 

appears on sales receipts or billing statements and it is only found on the card itself. The 

cardholder is required to enter the code number at the time of the transaction to verify 

    that the card is in their possession.</p>

                                    <strong>Where is the Card Verification Number (CVV) located on my credit card?</strong>

<p>Visa/MasterCard: Three-digit code after the last four digits of your credit card number 

on the back of the card within the signature field. American Express: Four-digit number 

    on the front of the card on the right hand side above the card number.</p>

                                    <strong>Under what name will my purchase be charged on the credit card statement?</strong>

                                    <p>Your purchase will be charged under JustTrip Pvt. Ltd</p>

                                    <h4>Reservations:</h4>

                                    <strong>How do I know my reservation was booked?</strong>

                                    <p>You will receive an SMS and email on confirmation of your booking with JustTrip.</p>

                                    <strong>Do I need to confirm my Trip reservation?</strong>

<p>There is no need to confirm your reservation. If you need any information, you can login 

to My Bookings or call our customer service team at the call center number mentioned 

    above.</p>

                                    <strong> Do I need to re-confirm my Trip before departure?</strong>

<p>Its Customer choice he can call the customer / login to My Booking to confirm 

    reservations for Trips.</p>

                                    <strong>How do I Know which car and driver is coming?</strong>

<p>You can login to My Booking before 2 days of the journey to know more about the 

    things like Car type, Car No, Driver No, Driver License Details, Car Insurance, etc.</p>

                                    <strong>How do I amend a Trip reservation?</strong>

                                    <p>Please contact our customer service center at +91-9663133008.</p>
                                </div><!-- end post-content -->
                            
                            </div><!-- end post-wrapper -->
                        </div><!-- end col -->

                        <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT -->

                </div><!-- end fullwidth -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
  {% endblock %}