{% extends 'page.html.twig' %}
{% block title %}Privacy Policy | Just Trip{% endblock %}

{% block javascript %}

{% endblock %}

{% block breadcrumb %}
                    <ul class="c1 breadcrumb text-left">
                        <li><a href="#">Home</a></li>
                        <li>Privacy Policy</li>
                    </ul>
                    <h3>Privacy Policy</h3>
{% endblock %}
  {% block body %}


    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">

                    <!-- START CONTENT -->
                    <div class="row">
                        <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                            <div class="post-wrapper clearfix border-bottom">
                              
                                <div class="post-title clearfix">
                                    <h5>Privacy Policy</h5>
                                </div><!-- end ost-title -->

                                <div class="post-content clearfix">
                                    <strong> Online Card Payments</strong>
                                    

<P>Visa, Master and American Express Card payments are processed through an online payment 

gateway system. You need not worry about your card information falling into the wrong hands 

because your bank will authorize the card transaction directly without any information passing 

through us. In approximately 25-30 seconds (depending on your internet connection) your bank 

will issue, using the online payment gateway, an authorization code and confirmation of 

    completion of transaction.</P>

<P>If the payment on the credit card is declined for some reason, alternate payment instructions 

must be received by Justtrip 72 hours prior to the time of departure; else, the order is liable to 

    be cancelled.</P>

<P>Justtrip charges a service fee on all Car and hotel bookings. In case of cancellation of booking, 

    this fee is non-refundable.</P>

                                    <strong>Transaction Confirmation</strong>

<P>You should not take any action based on information on the Website until you have received a 

confirmation of your transaction. In case of confirmations to be received by email, if you do not 

receive a confirmation of your purchase/transaction within the stipulated time period, first look 

into your "spam" or "junk" folder to verify that it has not been misdirected, and if still not 

    found, please contact our call centre.</p>

                                    <strong>Cancellation policy</strong>

 <P>One way cancellation policy Rs:100 before 24 hours of journey. 

Round Trip cancellation policy Rs:200 before 24 hours of journey.

Multicity cancellation policy Rs:200 before 24 hours of journey.

To amend/cancel your ticket offline, call JustTrip Customer Care on +91-9663133008. 

Cancellation after journey started is non-refundable. Rescheduling is Possible based the 

     requirement fare may change as well.</P>

                                    <p>For no-show tickets are non-refundable.</p>

                                    <strong>How do I get a refund after cancelling my ticket or reservation?</strong>

<P>The refund shall be processed within 10 – 15 working days from the date of the cancellation 

request. If we have received the payment through a valid credit card, then the same will be 

refunded to your credit card. Payments made using any other form of payment will be refunded 

by cheque within a maximum of 30 days from date of receipt of ticket. All refunds shall be 

    processed subject to processing of refunds by the respective Cars /service provider.</p>

    <P>Please note convenience fee charged at the time of booking will not be refundable.</P>

                                    <strong>Promotion Codes</strong>

<P>Justtrip.in generates promotion codes from time to time which may be availed on the site as a 

    discount coupon.</P>

<P>Justtrip.in reserves the right to add, alter, modify, withdraw all or any of the Terms and 

Conditions or replace, wholly or in part, the program by any other program, whether similar to 

    this program or not or withdraw it altogether without any prior notice.</P>

<P>In case of dispute with any party, Justtrip.in decision will be binding and final.

When you register with Justtrip.in, we or any of our partners/affiliate/group companies may 

contact you from time to time to provide the offers/information of such products/services that 

    we believe may benefit you.</P>
                                </div><!-- end post-content -->
                            
                            </div><!-- end post-wrapper -->
                        </div><!-- end col -->

                        <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT -->

                </div><!-- end fullwidth -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
  {% endblock %}