/* Sreekanth */
.bhoechie-tab-content.active {
    border-left: 4px solid #ddd7d7;
	margin-left: -19px;
}
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  /*border:1px solid #ddd;*/
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: 113px;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #ea2330;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  border:none;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  /*background-color: #5A55A3;*/
  background-color: #ea2330;
  background-image: #ea2330;
  color: #ffffff;
  height:35px;
  padding-top: 4px;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ea2330;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.item-title h5 a {
    font-size: 16px;
	color:#333333;
    /*text-transform: uppercase;*/
    font-weight: bold;
	text-decoration: none !important;
}
.item-title h5 a:hover {
    font-size: 16px;
	color:#000000;
    /*text-transform: uppercase;*/
    font-weight: bold;
	text-decoration: none;
}
.item-price-more_hotels {
    padding-top: 32px;
    display: block;
    font-size: 15px;
    font-family: "LatoBold";
    color: #333333;
}
.item-address fa
{
	color: #F34F4F;
}
.list-view{padding-left: 20px;font-size:14px;}
.mini-desti-desc .pull-left h6 {
    float: left;
    color: #2d67b2;
    font-family: 'LatoBold', serif;
    text-transform: none;
    font-size: 19px;
}
.mini-desti-desc .pull-right h6 {
    color: #f26722;
    font-family: 'LatoBold', serif;
    font-size: 20px;
}

@media (max-width:768px) {

	.package-box {
    width: 100%;
	}
}

.btn-book {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.30s;
    -webkit-transition: all ease-in-out 0.30s;
}
/*.package-border {
    border: none;
}
.package-vehicle span.vehicle-icon.active {
    color: #fff;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: 1px solid #ddd;
    background:none;
}
*/

.billingpadding
{
	padding-bottom:20px;
}

/* End */