/* Sreekanth */
.bhoechie-tab-content.active {
    border-left: 4px solid #ddd7d7;
	margin-left: -19px;
}
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  /*border:1px solid #ddd;*/
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: 113px;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #ea2330;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  border:none;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  /*background-color: #5A55A3;*/
  background-color: #ea2330;
  background-image: #ea2330;
  color: #ffffff;
  height:35px;
  padding-top: 4px;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ea2330;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.item-title h5 a {
    font-size: 16px;
	color:#333333;
    /*text-transform: uppercase;*/
    font-weight: bold;
	text-decoration: none !important;
}
.item-title h5 a:hover {
    font-size: 16px;
	color:#000000;
    /*text-transform: uppercase;*/
    font-weight: bold;
	text-decoration: none;
}
.item-price-more_hotels {
    padding-top: 32px;
    display: block;
    font-size: 15px;
    font-family: "LatoBold";
    color: #333333;
}
.item-address fa
{
	color: #F34F4F;
}
.list-view{padding-left: 20px;font-size:14px;}
.mini-desti-desc .pull-left h6 {
    float: left;
    color: #2d67b2;
    font-family: 'LatoBold', serif;
    text-transform: none;
    font-size: 19px;
}
.mini-desti-desc .pull-right h6 {
    color: #f26722;
    font-family: 'LatoBold', serif;
    font-size: 20px;
}

@media (max-width:768px) {

	.package-box {
    width: 100%;
	}
}

.btn-book {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.30s;
    -webkit-transition: all ease-in-out 0.30s;
}
/*.package-border {
    border: none;
}
.package-vehicle span.vehicle-icon.active {
    color: #fff;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: 1px solid #ddd;
    background:none;
}
*/

.billingpadding
{
	padding-bottom:20px;
}

.bike-background {
    background: #ffffff;
    margin-bottom: 14px;
    margin-top: -6px;
    padding: 13px;
    box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
}
.view-bike
{
	color: #fff;
    background-color: #F34F4F;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    text-transform: capitalize;
   font-family: Berlin Sans FB;
    font-size: 20px;
    box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
}
.dec
{
	padding: 16px;
	box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    min-height: 340px;
}
h3.details {
    font-family: calibri;
    font-size: 21px;
    color: #555;
}
.brand-color
{
	padding: 16px;
	box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    min-height: 340px;
}
.bike-book {
    /*margin-top: -11px;*/
}
h2.sub-title1 {
    color: #6d6d6d;
    font-size: 18px;
    font-weight: 400;
    font-family: calibri;
    margin: 0 0 5px;
    text-align: center;
}
h3.price-book {
    font-family: calibri;
    font-size: 29px;
    text-align: center;
}
.bike-price-book1 {
    /*bottom: 600px;*/
    position: relative;
   /* right: -70px;*/
}
.bike-price-book2 {
    /*bottom: 550px;*/
    position: relative;
}
.sub-book1 {
    background-color: rgba(0, 0, 0, 0.5);
   
    padding: 0px;
    height: 100%;
       /* margin: 0px 0 65px 0px;*/
    
}
.sub-book2 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    
}
.sub-book3 {
    /*background-color: rgb(255, 255, 255);
    padding: 10px;*/
    
}
section.space {
    position: relative;
   /* margin-bottom: -600px;*/
    /* bottom: 50px; */
    display: block;
}
.dec-icons {
    font-size: 30px;
    text-align: center;
    color:#F34F4F;
}
.dec-icons-list {
    text-align: center;
}
.details-tilte
{
	margin-top: 10px;
    color: #787878;
    font-size: 21px;
    /* font-weight: bold; */
    font-family: calibri;
}
.details-p
{
	color: #787878;
    font-size: 14px;
}




h3.hours-list {
    text-align: center;
    margin-top: 15px;
    font-size: 21px;
    font-family: calibri;
}
span#demo {
    color: #F34F4F;
}
span#calprice {
    color: #F34F4F;
    font-size: 31px;
}
.span-numbers
{
	color: #788787;
    font-size: 13px;
    font-family: calibri;
    padding-right: 4px;
    margin-left: 13px;
}
.span-line
{
	color: #788787;
    font-size: 13px;
    font-family: calibri;
    padding-right: 8px;
    margin-left: 13px;
}
p.brandtype {
    color: #adadad;
    font-size: 14px;
    font-family: calibri;
    margin-top: 20px;
}
filter-bikes
{
	
}
@media (max-width:768px)
{
	.bike-price-book2 {
    bottom: 0px;
    position: relative;
    text-align:center;
	}
	.bike-price-book1 {
    bottom: 0px;
    position: relative;
    right: 0px;
	}
	section.space {
    position: relative;
    margin-bottom: -500px;
    /* bottom: 50px; */
    display: none;
}
}
@media (max-width:1024px)
{
	.bike-price-book2 {
    bottom: 0px;
    position: relative;
    text-align:center;
	}
	.bike-price-book1 {
    bottom: 0px;
    position: relative;
    right: 0px;
	}
	section.space {
    position: relative;
    margin-bottom: -500px;
    /* bottom: 50px; */
    display: none;
}
}
.package-booknow {
    background: #F34F4F;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: calibri;
    padding: 4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.05);
    box-shadow: 0 10px 10px rgba(0,0,0,.05);
    margin-top: 16px;
}
.booking-price-details-border {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(204,204,204,.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(204,204,204,.5);
    box-shadow: 0px 0px 10px 0px rgba(204,204,204);
        padding-bottom: 5px;
        border-radius: 7px;
        border: none;
}
.package-price-total {
    border: none;
    color: #9b9b9b;
    font-size: 18px;
    font-family: calibri;
}
.fare-margin {
    margin-top: 15px;
}
p.package-total {
    color: #eb2026;
    font-family: calibri;
    font-size: 36px;
    margin-top: 15px;
    font-weight: normal;
}
.make-margin-border {
    /*margin: 10px 0 15px !important;*/
    border:none;
}
.contact-border
{
	border-bottom:1px solid #e0e0e0;
	margin-bottom:10px;
}
label.control-label.required {
    /*color: #0055b7;
    font-family: calibri;*/
}
.contact-border-space {
    margin-top: 6px;
}
.agree-space {
    margin-top: 30px;
}
.label-color
{
	color: #0055b7;
}
.bikes-form-font
{
	font-size:17px;
	border: 1px solid #f5f5f5;
    vertical-align: top;
    
}
.datepicker > .datepicker_header > .icon-close {
     padding: 0px;
}
.black
{
	color:#000;
}
span.black1 {
    font-size: 14px;
    font-family: calibri;
    color: #adadad;
}
.icon-font
{
	font-size: 24px;
	color: #adadad;
}
.search-bike
{
	color: #fff;
    background-color: #F34F4F;
    font-size: 17px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding:10px;
    text-transform: capitalize;
    font-family: calibri;
    box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
}
.search-bikes-onrent
{
	color: #fff;
    background-color: #F34F4F;
    font-size: 17px;
    width: 100%;
    margin: 0 auto;
   margin-top: 3px;
    padding: 8px;
    text-transform: capitalize;
    font-family: calibri;
    box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
}
.viewbike_h4
{
	    text-align: center;
    color: #0694b6;
    margin-top: 10px;
    font-family: calibri;
    font-size: 20px;
}
.viewbike_h3 {
    text-align: center;
    color: #0694b6;
    margin-top: 10px;
    font-family: calibri;
    font-size: 22px;
    text-transform: uppercase;
}
h2.sub-title-bikesonrent {
        font-family: calibri;
    margin: 0 0 5px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 0 0 18px #131313;
}
h5.bike-price {
    font-family: calibri;
    font-size: 32px;
    text-align: center;
    color: #F34F4F;
}
p.bikestitle {
    border: none;
    color: #0055b7;
    font-size: 14px;
    text-align: center;
    /* font-weight: bold; */
    font-family: calibri;
    margin-bottom: -3px;
}
.book-dates
{
	text-align: center;
    font-size: 18px;
    font-family: calibri;
}
.bike-booknow {
    background: #F34F4F;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: calibri;
    font-weight: bold;
    padding: 4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.05);
    box-shadow: 0 10px 10px rgba(0,0,0,.05);
    margin-top: 13px;
}
h3.contactdeatils {
    color: #000;
    font-size: 21px;
    font-family: calibri;
    text-transform: uppercase;
}
.package-vehicle-two {
    margin-left: -16px;
    /* margin-right: 9px; */
    padding: 0;
    float: none !important;
    display: inline-block;
}
.two-daypackage-title
{
	color: #f26722;
    font-family: calibri;
    font-size: 20px;
    
}
.col-md-12.package-title-two {
    margin-top: 10px;
}
.day1 {
    float: left;
    font-size: 13px;
    margin-top: -7px;
    background: #F34F4F;
    padding: 0px 17px 0px 17px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1px;
}
.day2 {
    float: left;
    font-size: 16px;
   /* margin-top: 16px;*/
    background: #e0e0e0;
    padding: 0px 17px 0px 17px;
    text-align: center;
}
.package-vehicle span {
   
    text-transform: lowercase;
}
.package-info .make-margin {
    margin: 0px -7px 15px !important;
}
.form-control {
    
    height: 100%;
}
.bikes-form {
    border: none;
}
.bikes-form-border {
    border-top: 1px solid #e0e0e0;
    margin-top: -15px;
}
.bikes-accept-terms {
    margin-top: 23px;
}
.bikes-form-labels {
    margin-top: 10px;
    margin-bottom: -16px;
    color: #0055b7;
    font-size: 14px;
}
#page-header {
    
    padding: 15px 0;
}
.breadcrumb {
    padding-top: 12px;
    font-size: 14px;
    font-family: calibri;
}
.price-details .hotel-title, .price-details.hotel-title {
     background: #fff;
     border: none;
}
.bike-booknow-50 {
    background: transparent;
    text-decoration: none;
    color: #0055b7;
    font-size: 19px;
    font-family: calibri;
    font-weight: 400;
    padding: 4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 15px;
}
.dec-50
{
	text-align: center;
    font-size: 16px;
    color: #888;
    margin-top: 16px;
    margin-bottom: -21PX;
}
.terms-list{
	font-size: 12px;
    font-family: calibri;
    line-height: 15px;
}
.justify
{
	text-align: justify;
}

.package-links {
    
    text-transform: capitalize;
}
input[type="checkbox"] {
    margin: 4px 6px 0;
}
a.view-bikes-title {
    color: #000;
    font-size: 16px;
    font-family: Berlin Sans FB;
}
.home-grid-title
{
	color: #F34F4F;
    font-family: 'LatoBold', serif;
    text-transform: none;
    font-size: 19px;
    text-align:center;
}
span.cars-grid-left {
    float: right;
    font-size: 16px;
    font-weight: bold;
    font-family: calibri;
}
p.cars-grid-cont
{
	font-size: 16px;
}
.mini-desti img {
    /*height: 50px;*/
}
.package-title {
    color: #d33a3a;
    font-family: 'LatoBold', serif;
    font-size: 12px;
}
.locations-desc {
    font-size: 12px;
}
button.awe-btn.awe-btn.btn.btn-book.btn-block {
    margin-top: 6px;
}
.package-box-twoday {
    /* max-width: 480px; */
    margin-bottom: 20px;
    /* border: 2px solid #C0C0C0; */
    -moz-box-shadow: 0px 0 6px #cccccc;
    box-shadow: 0px 0 6px #cccccc;
    height: 100%;
    border-bottom: 5px solid #c0c0c0;
    padding: 5px;
}
/*.package-vehicle span.vehicle-icon.active {
    box-shadow: 0px 0 8px #cccccc;
    border-radius: 0px;
    border: 1px solid #f26722;
    color: #000;
}*/
.lable-package
{
	font-size: 12px;
}
.input-package
{
	font-size: 13px;
}
.hr-nomargin
{
	margin: 0px 0px 5px 0px;
}
.price-package-color
{
	font-size: 18px;
    color: #F34F4F;
    font-weight: bold;
}
.package-vehicle span.vehicle-icon:hover {
    box-shadow: 0px 0 8px #cccccc;
    border-radius: 0px;
   /* border: 1px solid #f26722;*/
    color: #fff;
    background-color:#666;
}
.package-display-price
{
	font-size:13px;
}
.package-img-degin
{
	    height: 40px;
    width: 100%;
}
.car-border:hover
{
	border: 1px solid #f26722;
}
h6.dojbookvalue {
    font-size: 14px;
    font-family: calibri;
    margin-top: 14px;
}
h5.dattime-boo-details {
    font-size: 12px;
    margin-top: 15px;
}
.span-color-title
{
	    color: #ea2330;
    /* font-weight: bold; */
    font-family: calibri;
    font-size: 18px;
}
p.fardetails-checkout {
    font-size: 13px;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
}
span.fardetails-checkout-color {
    float: right;
    font-size: 15px;
}
.home-how-to-img
{
	margin: 0 auto;margin-bottom: 23px;
}
.section-bottom {
    border-bottom: none;
}
.mini-desti-title .pull-right h6 {
    color: #F34F4F;
   
}
.mini-desti-title .pull-left h6 {
    color: #666;
    }
  .view-bike-search
{
	color: #fff;
    background-color: #F34F4F;
    font-size: 15px;
   /* width: 100%;*/
    margin: 0 auto;
    margin-top: 5px;
    text-transform: capitalize;
    font-family: calibri;
    box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
}
.sec-bg
{
	background: #FBFBFB;
}
.price-details h6 {
    
    font-size: 13px;
}
.flogo {
    padding-top: 9px;
    color: #fff;
        margin-bottom: -12px;
}
.widget-title h3 {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: calibri;
    letter-spacing: 0;
}
.textwidget p {
    font-size: 11px;
    color:#fff;
    text-align:center;
    margin-bottom: -5px;
}
.textwidget p a {
    font-size: 11px;
    color:#fff;
    text-align:center;
}
.textwidget p a:hover {
    font-size: 11px;
    color:#F34F4F;
    text-align:center;
}
.social-footer a i {
    color: #fff !important;
    font-size: 14px;
    margin-left: 7px;
}
.copyrights {
    background-color: #111111;
    padding: 4px 0 4px 0;
    font-size: 13px;
    color: #fff;
    font-family: calibri;
}
.footer {
    background-color: #222;
}
.payment-sprite {
    background-color: #333;
}
.footer-tabs {
    background-color: #333;
    padding: 0px 0 5px;
    color: #fff;
}
li.nav-item.active {
    background: transparent;
    border-bottom: 1px solid #fff;
    color:#fff;
}
li.nav-item.focuse {
    background: transparent;
    border-bottom: 1px solid #fff;
    color:#fff;
}
li.nav-item a:hover {
    background: transparent;
    border-bottom: 1px solid #fff;
    color:#fff;
    border-top:none;
    border-left:none;
    border-right:none;
}
.nav-tabs.nav-justified > li > a {
     color: #fff;
     border-bottom-color:#fff;
}



.tab .nav-tabs{ border-bottom: 1px solid #444; }
.tab .nav-tabs li a{
    display: block;
    padding: 10px 20px;
    margin: 0 5px 1px 0;
    background: transparent;
    font-size: 15px;
    font-family: calibri;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 0;
    z-index: 2;
    position: relative;
    transition:all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    color: #fff;
    border: none;
}
.tab .nav-tabs li.active a:before{
    content: "\f107";
    font-family: fontawesome;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
}
.tab .nav-tabs li.active a:after{
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.tab .tab-content{
    padding: 30px 20px 20px;
    margin-top: 0;
    background: transparent;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    border-radius: 0 0 5px 5px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li.active a:before{
        content: "\f105";
        bottom: 15%;
        left: 0;
        right: auto;
    }
}
span.taxifooter {
    font-size: 12px;
}
.que {
    margin-top: 71px;
}
h2.que-numb {
    font-size: 41px;
    color: #F34F4F;
}

.packages-link
{
	color:#fff;
	margin-bottom:0px;
	font-size:12px;
}
a:hover, a > *:hover, a:focus {
    color: #F34F4F;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #F34F4F;
    cursor: default;
    background-color: transparent;
}
.homesearch
{
	    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
.homesearch-time
{
	    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0px 0 20px 9px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
select#trip_search_leavingFrom {
    background: transparent;
    border: none;
    color: #000;
}
option {
    color: #000;
}
select#trip_search_goingTo {
	background: transparent;
    border: none;
    color: #000;
}
input#trip_search_date {
	background: transparent;
    border: none;
    color: #000;
}
input#trip_search_returnDate {
	background: transparent;
    border: none;
    color: #000;
}
input#trip_search_numAdult {
	background: transparent;
    border: none;
    color: #000;
}
input#trip_search_preferTime {
	background: transparent;
    border: none;
    color: #000;
}
.input-group-addon {
    background: transparent;
    border: none;
    color:#000;
}
.input-group-addon i
{
	color:#000;
}
.home-search-align {
    margin-right: 23px;
}
.search-button {
    background: #F34F4F;
    color: #fff;
    border: none;
    padding: 4px;
    font-size: 17px;
    font-size: 21px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    text-transform: capitalize;
    font-family: calibri;
}
.bookform .btn {
    background-color: #F34F4F;
    border: 0;
}
.home-form .tab-content {
   /* background: rgba(0, 0, 0, 0.6);*/
       background: rgba(255, 255, 255, 0.7);
}
.homebanner
{
	background: rgba(255, 255, 255, 0.7);
	/*background: rgba(0, 0, 0, 0.6);*/
	/*border-bottom: 1px solid #222;*/
}
.home-form .nav-tabs > li.active > a
{
    color: #000;
}
.home-form .nav-tabs > li.active > a i
{
    color: #000 !important;
    border-bottom-color:#F34F4F;
}
.home-form .nav-tabs > li > a {
    color: #000;
}
.home-form .nav-tabs > li > a:hover {
    color: #F34F4F;
}
.home-form .nav-tabs > li > a i {
    color:#000;
}
.home-form .nav-tabs > li > a i:hover {
    color:#F34F4F;
}
.home-seacrh-desg::-webkit-input-placeholder
{
	color:#000;
}
.home-form h2 {
    font-size: 47px;
    color: #fff;
    padding: 10px 16px;
    margin-bottom: 0;
    font-family: calibri;
    text-transform: capitalize;
    /*letter-spacing: .1em;*/
    text-align:center;
    text-shadow: 0 0 18px #131313;
}
.topbar {
    background: #666;
    height:43px;
    display:none;
}
.navbar-brand {
    margin-top: -10px;
}
.topbar, .topbar a, .topbar p {
    font-size: 18px;
    font-family: calibri;
    color: #fff;
    margin-top: -7px;
}
.topbar a i {
    font-size: 18px;
    color: #fff;
    margin-top: -7px;
}
.topbar li i {
    font-size: 18px;
    color: #fff;
    margin-top: -7px;
}
.tripNav span label {
    font-size: 19px;
    color: #000;
    padding: 3px 9px 2px;
    font-family: calibri;
}
.bikepreferDate {
    background: transparent;
    border: none;
    border-bottom: none;
    font-family: Berlin Sans FB;
}
.bikepreferDate::-webkit-input-placeholder
{
	color:#000;
}
.bikes-tabs
{
	background: transparent;border:none
}
.sub-book1 a
{
	color:#fff;
}
.sub-book2 {
    
    height: 100%;
        /*margin: 0px 0 65px 0px;*/
    
}
.footer-pages h6
{
	color:#fff;
}
h1.footerpages-h1 {
    font-size: 30px;
    font-family: calibri;
    color: #222;
}
h3.footerpages-h1 {
    font-size: 20px;
    font-family: calibri;
    color: #222;
}
.home-form h3 {
    
    color: #000!important;
}
.footer-innerpages-links
{
	font-size: 14px;
    color: #007bff;
    font-family: calibri;
    margin: 0px;
}
.footer-innerpages-tablerow1
{
	text-align: center;
    font-weight: bold;
    font-family: calibri;
}
.footer-innerpages-tablerow2
{
	text-align: center;
    font-family: calibri;
}
.search-pages-sidebar
{
	margin-top:40px;
}
h4.bikes-search-locationspop {
    color: #fff;
    font-size: 18px;
    font-family: calibri;
    float:right;
}
h4.bikes-search-locationspop2
{
	background-color: #F34F4F;
    text-align: center;
    padding: 5px;
    margin-top: -4px;
    color: #fff;
    font-size: 18px;
    font-family: calibri;
    border-radius: 12px;
}

.bike-search-modal-header {
    background: #999;
    padding: 10px;
}
button.close {
        opacity: 1;
    color: #fff;
}
h4.bikes-search-popup-heading1 {
    font-family: calibri;
    font-size: 18px;
    color:#F34F4F;
}
h4.bikes-search-popup-heading2 {
    font-family: calibri;
    font-size: 16px;
    color:#000;
    text-align:center;
}
.strong-city-popup
{
	font-size: 20px;
    font-family: calibri;
    font-weight: 500;
}
.img-center
{
	display: block;
    margin: 0 auto;
}
@media (min-width: 768px)
{
.modal-dialog {
    width: 870px;
}
}
strong.footer-cont {
    color: #fff;
    font-family: calibri;
    font-weight: 400;
    font-size: 18px;
}
.col-md-3.bikes-form-font.sub-book1 {
    background-color: #fff;
    padding: 10px;
    height: 100%;
    margin: 0px 0 65px 0px;
    font-family:Berlin Sans FB;
}
.col-md-3.bikes-form-font.sub-book3 {
    background-color: #fff;
    padding: 11px;
    height: 100%;
    margin: 0px 0 65px 0px;
    font-family:Berlin Sans FB;
}
.col-md-3.sub-book4 {
    background-color: #F34F4F;
    padding: 12px;
    height: 100%;
    margin: 0px 0 65px 0px;
    text-align: center;
}
.new-button-bikes-onrent {
    background: transparent;
    border: none;
    font-family:Berlin Sans FB;
    font-size: 22px;
}
.datepicker > .datepicker_header {
    
    background-color: #F34F4F;
    color: #fff;
    font-size: 20px;
    font-family: calibri;
    
}
.header {
    padding-top: 11px;
    border-bottom: none;
}
td.bikes-search-tabs
{
	background: #F34F4F;
    border: none;
    border-bottom: 1px solid #F34F4F;
    color: #fff;
    text-align: center;
}
.navbar-nav > li > a {
    font-family: calibri;
    font-size: 16px;
    color: #000;
}
.new-header-mobile
{
	margin: -10px 0px 0px 0px;
    padding: 0px;
    font-size: 16px;
    font-family: calibri;
}
p.new-header-mobile-reachus {
        margin: 0px 0px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}
.new-button-bikes-onrent:hover
{
	background:transparent;
}
.dropdown-menu li a {
    font-family: calibri;
    color: #000;
}
.bikes-locabase {
    border: none;
    width: 100%;
    padding-top: 5px;
    font-size: 15px;
    font-family: calibri;
    text-align-last: center;
}
.row.bikes-loc {
    border-top: 3px solid #f6f6f6;
	border-left:2px solid #F34F4F;
}
.selectarea-label
{
	margin: 0px 1px -5px 0px;
    font-family: calibri;
    font-size: 16px;
    color: #ccc;
}
.bikepreferDate.form-control[disabled]
{
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1;
    cursor: text;
}
label.control-label.required {
    color: #9e9e9e;
}
button#reviewsubmit {
        background-color: transparent;
    font-size: 15px;
    margin-top: -1px;
    font-family: Berlin Sans FB;
    padding: 16px;
    border-radius: 4px;
    color: #F34F4F;
    width: 100%;
    border: 1px solid #F34F4F;
}
h3.review-modifiy {
    font-size: 18px;
    margin-top: 36px;
    color: #F34F4F;
    font-family: calibri;
}
h3.review-apply-filter {
    font-size: 18px;
    color: #F34F4F;
    margin-top: 10px;
    font-family: calibri;
}
.hr-border-color{
	border-color:#eee;
}
.filter-box {
   /* box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);*/
       box-shadow: 0 6px 1px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    padding: 0px 2px 0px 13px;
    border-bottom: 2px solid #e0e0e0;
}
.filter-box-aside {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    padding: 0px 2px 0px 13px;
    border-bottom: 4px solid #e0e0e0;
    margin-top: -5px;
}
h5.bike-grid-title{
	color:#222;
	font-family: Berlin Sans FB;
	font-size:16px;
	text-align:center;
}
.review-filters-loc
{
	border: solid 1px #cec6c6;
    padding: 5px 0;
    font-size: 12px;
    min-height: 100px;
    max-height: 110px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 7px 18px 0px;
}
.review-filters-bikes
{
	border: solid 1px #cec6c6;
    padding: 5px 0;
    font-size: 12px;
    min-height: 100px;
    max-height: 110px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 7px 18px 0px;
}
button#trip_sitemanagementbundle_price_viewbikes_submit {
    background: #F34F4F;
    font-size: 16px;
    width: 100%;
        margin-top: 5px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a.active, .navbar-nav > li > a:active {
    background: transparent !important;
   
    box-shadow: none;
}
.navbar-nav > li > a.active{
	color:#F34F4F;
}
.bg-trans > li > a {
    font-family: calibri;
    font-size: 18px;
    color: #fff;
    border-bottom: none;
    font-weight: 500;
    text-shadow: 0 0 18px #131313;
    text-transform:uppercase;
}
.new-header-mobile-reachus-trans{
	margin: 0px 0px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color:#fff;
    text-shadow: 0 0 18px #131313;
}
.new-header-mobile-trans{
	margin: -10px 0px 0px 0px;
    padding: 0px;
    font-size: 18px;
    font-family: Berlin Sans FB;
    color:#fff;
    text-shadow: 0 0 18px #131313;
    
}
.navbar-brand-trans > img {
    margin: 0px 0;
   
}
.home-banner-offer
{
	color: #fff;
    font-size: 74px;
    font-family: Berlin Sans FB;
}
.home-banner-offer-p
{
	font-size: 30px;
    color: #fff;
    font-family: calibri;
    margin: -18px 0px 0px 0px;
}
p.price-starts {
    text-align: center;
    color: #000;
    font-family: Berlin Sans FB;
        margin-top: -12px;
        font-size: 17px;
}
.berlin
{
	font-family: Berlin Sans FB;
}
.hotel-title .left {
    margin-top: -6px;
}
.que p{
	font-size:16px;
}
p.berlin.have-question {
    font-size: 60px;
}
.bikes-search-result-p-form
{
	margin: 0px 0px -10px 7px;
	color: #F34F4F;
    font-size: 12px;
    font-family: Berlin Sans FB;
}
.bikes-searchresults-icons
{
	    margin-right: 5px;
}
.bikesearch-results-grid-footer
{
	    background: #F34F4F;
    margin-bottom: -13px;
   
    
}
.view-bike-results {
    color: #000;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    text-transform: capitalize;
    font-family: Berlin Sans FB;
    font-size: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.view-bike-results[disabled] {
       opacity: 1;
    background: #e0e0e0;
    color: #555;
    opacity: 1;
}
.resultsbikes-grid-footer-price
{
	text-align: center;
    color: #fff;
    font-size: 21px;
    font-family: calibri;
}
.search-location-infilters
{
	border: none;
    width: 97%;
    margin-bottom: 10px;
}
input .search-location-infilters : focus-within
{
	border:none;
}
.location-click-popup
{
	background: transparent;
    color: #000;
    margin-bottom: -4px;
    border: none;
    font-family: Berlin Sans FB;
     text-transform: uppercase;
}
.bikes-form-font.sub-book3 a:hover
{
	background: transparent;
    color: #000;
    margin-bottom: -4px;
    border: none;
    font-family: Berlin Sans FB;
}
.review-resulst-popup {
	background: transparent;
    color: #000;
    margin-bottom: -4px;
    border: none;
    font-size: 14px;
    font-family: Berlin Sans FB;
    text-transform: capitalize;
}
.bikes-form-font a:hover
{
	background: transparent;
    color: #000;
    margin-bottom: -4px;
    border: none;
    font-family: Berlin Sans FB;
}
.select-disable option
{
	color:#fff;
}
.resview-bikes-pop-loc
{
	border: none;
    background: transparent;
    font-size: 20px;
    color:#777;
    margin-left: 28px;
    font-family: Berlin Sans FB;
}
.bikes-search-popup-heading2.text-center.resview-bikes-pop-loc:hover
{
	color:red;
}
.h2-view-bikes
{
	font-size: 20px;
}
.h3-view-bikes
{
	font-size: 18px;
}
.backsearch-results-view-bikes
{
	font-size: 13px;
    color: #c1c1c1;
}
.backsearch-results-view-bikes-icon
{
	font-size: 22px;
    margin-right: 5px;
    margin-top: -2px;
    color: #c1c1c1;
}
span.count-bikes {
    
    color: #F34F4F;
    float:right;
}
.viewbikes-price-loc
{
	font-size: 18px;
    font-family: calibri;
}
.viewbikes-price-loc-span
{
	color: #c1c1c1;
}
.span-bike-amities
{
	color: #626262;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 5px 0px 5px;
}
.li-aminites
{
	color: #888;
}
.terms-conditi {
    padding: 10px;
    border: 2px dashed #e0e0e0;
}
p.terms-conditi-p {
    margin: 0px;
    font-size: 11px;
    color: #888;
}
strong.terms-conditi-strong {
    font-size: 13px;
    font-family: calibri;
}
h2.bike-desc {
    font-size: 14px;
    color: #888;
    margin-bottom: -5px;
}
/* End */
/****************************************jagadeesh*************************************************/
span.black1 {
    font-size: 16px;
    font-family: calibri;
    color: #000000;
    font-weight: bold;
}

span.black2 {
    font-size: 16px;
    font-family: calibri;
    color: #212121;
    font-weight: 500;
}

label.valign {
    margin-top: 10px;
    font-size: 18px;
    font-family: calibri;
}

.row.bikes {
    border-top: 3px solid #f6f6f6;
    border-bottom: 3px solid #f6f6f6;
	border-left:2px solid #F34F4F;
}
span.limit {
    font-size: 13px;
    text-align: center;
    margin-left: 12px;
    color: #fff;
}

h3.details {
    font-family: calibri;
    font-size: 21px;
    color: #F34F4F;
	text-align:center;
}

p.price {
    text-align: left;
    font-weight: 700;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
}

p.pricevalue {
    text-align: right;
    font-weight: 700;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
}

span.excess {
    text-align: right;
    font-size: 13px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
	font-weight: 400;
   }
   
  h6.title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
	font-family:calibri;
}


.btn-search {
    text-align: center;
    background-color: #F34F4F;
    width: 124px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-family: calibri;
    font-size: 16px;
	margin-right: 230px;
}

h4.modal-title {
    text-align: center;
    color: #fff;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #F34F4F;
}

.modal-header1 .close {
    margin-top: 0px;
    /*border: 1px solid #000;
	border-width: 2px;
	border-radius: 20px;*/
    padding: 5px;
    text-align: center;
    color:#fff;
	font-size: 25px;
    opacity: 1;
}
.btn.focus{color:#333;text-decoration:none;}


.modal-body1 {
    position: relative;
    /* padding: 15px; */
}

.modal-header1 {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #F34F4F;
    background-color: #F34F4F;
}

.view-bike1 {
    color: #fff;
    background-color: #F34F4F;
    font-size: 15px;
    font-family: Berlin Sans FB;
    font-size: 22px;
    width: 100%;
    margin: 0 auto;
    margin-top: 22px;
    text-transform: capitalize;
    font-family: calibri;
    box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
    /* -webkit-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5); */
    -moz-box-shadow: 0 5px 6px 0 rgba(201,201,201,.5);
}

h3.filter {
	color:#F34F4F;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
	cursor: text;
    transition: .2s ease-out;
    /*text-align: initial;*/
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: 0px;
	font-family:calibri;
}
 
p.filter1 {
    font-weight: 400;
    text-align: left;
    font-size: 20px;
	cursor: text;
    transition: .2s ease-out;
    text-align: center;
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: 0px;
	margin-top:10px;
	font-family:calibri;
} 

label.filter-details {
    font-size: 13px !important;
    margin: 0 !important;
    top: 1rem !important;
    color: #000;
    /*position: absolute;*/
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}

label.filter-details1 {
    
	font-size: 13px !important;
    margin: 0 !important;
    top: 4rem !important;
    color: #9e9e9e;
   /* position: absolute;*/
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}

input.black3 {
    font-size: 13px !important;
    margin: 0 !important;
    top: 2rem !important;
    color: #000;
    /*position: absolute;*/
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
	background-color: transparent;
	border: none;
	/*border-bottom: 1px solid #9e9e9e;*/
	outline: none;
	text-align:center;
}

input.black4 {
    font-size: 13px !important;
    margin: 0 !important;
    top: 5rem !important;
    color: #9e9e9e;
    /*position: absolute;*/
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
	background-color: transparent;
	border: none;
	/*border-bottom: 1px solid #9e9e9e;*/
	outline: none;
	text-align:center;
	
}

.bike-background {
    background: #ffffff;
    margin-bottom: 14px;
    margin-top: -6px;
    padding: 13px;
    /*box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);*/
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

hr.border{
	margin-top: -1px;
    border-top-color: #9e9e9e;
	text-align:center;
	width:50%;
}
.modal-body1{
	padding: 35px;
    margin-top: 0px;
    margin-right: 0px;
	margin-bottom:10px;
	 margin-left: 0px;
	 text-align: center;
}

span.package-title {
    color: #F34F4F;
    font-size: 20px;
}


h4.packageprice {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-family: calibri;
    font-weight: 500;
}

h6.package-title {
    color: #F34F4F;
    font-size: 20px;
    text-align: center;
    font-family: calibri;
    font-weight: 500;
}

h6.package-offer {
    color: #F34F4F;
    font-size: 20px;
    text-align: center;
    font-family: calibri;
    font-weight: 500;
}

input.bike-popupform {
    width: 70%;
    padding: 10px;
    border:none;
	text-align:initial;
	font-family: calibri;
}

select.bike-popupform {
    width: 70%;
    padding: 10px;
    border:none;
	text-align:initial;
	font-family: calibri;
}


hr.bike-popup{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
	text-align:center;
	width: 70%;
}

span.package-title1 {
    color: #F34F4F;
    font-size: 20px;
	float:left;
	margin-left:78px;
}

span.package-title2 {
    color: #000;
    font-size: 16px;
	float:right;
	margin-right:78px;
}

/*.glyphicon {
    position: relative;
    top: 1px;
    font-size: 16px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #e1e1e1;
    padding: 5px;
    border-radius: 15px;
    color: #fff;
    background-color: #000;
}*/

label.filter-details2 {
    
	font-size: 13px !important;
    top: 4rem !important;
    color: #9e9e9e;
    top: 0.8rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: center;
}


h2.sub-title-bikesonrentpackage {
        font-family: calibri;
    margin: 0 0 5px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    text-shadow: 0 0 18px #131313;
}

h2.Suggested.Bikes {
    color: #F34F4F;
    margin-bottom: 25px;
}

input.search-location-infilters{
    border: none;
    padding-bottom: 10px;
    color: #000;
    width: 100%;
    height: 32px;
}


.view-bike2 {
    color: #000;
    background-color: #fff;
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    margin-top: 12px;
    text-transform: capitalize;
    font-family: calibri;
    font-weight: 900;
}

.view-bike3 {
    color: #000;
    background-color: #e0e0e0;
    opacity:1;
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    margin-top: 12px;
    text-transform: capitalize;
    font-family: calibri;
    font-weight: 900;
}

.row-rentnow {
    background-color: #F34F4F;
    height: 65px;
    width: 112%;
    margin-left: -14px;
    margin-bottom: -13px;
}

.bike-background1 {
    background: #ffffff;
    margin-bottom: 0px;
    margin-top: -6px;
    padding: 13px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

h6.price{
	text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 3px;
    font-weight: bolder;
    font-family: calibri;
}
/******************************************************jagadeesh**************************/

